<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_haircut"
        android:label="RSA-Saloon Booking"
        android:theme="@style/Theme.SalonBookingApp">

        <!-- MainActivity should be the LAUNCHER -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- LoginActivity should NOT be launcher -->
        <activity
            android:name=".LoginActivity"
            android:exported="false" />



        <activity
            android:name=".SignUpActivity"
            android:exported="false" />

    </application>

</manifest>